%div
  %h2
    Sign in
  %form{:method => "post", :action => "/sessions", :class => "user"}
    %ol
      %li
        %label{:for => "email"}
          Email
        %input{:type => "email", :name => "email"}
      %li
        %label{:for => "password"}
          Password
        %input{:type => "password", :name => "password"}
      %li.button
        %button{:type => "submit"}
          Login
